{% extends 'template.html' %}

{% block title %} Home page {% endblock %}

{% block body %}
	<div class="main_card">
		<h2>What do we do?</h2>
		<p>We create a connection between farmers and potential buyers. Green Grocer is a platform where you get to access products from Kenya’s best farms and get to sell your own.</p>
	</div>
	<div class="main_card">
		<h2>Vision</h2>
		<p>Enable sustainability, eradicate poverty and create independency through local agribusiness.</p>
	</div>
	<div class="main_card">
		<h2>Contact us</h2>
		<p>Email: <a href="mailto:greengrocerfd@gmail.com">greengrocerfd@gmail.com</a></p>
		<p>Blog: <a href="https://greengrocerfoundation.wordpress.com/" target="_blank">https://greengrocerfoundation.wordpress.com/</a></p>
	</div>
	<!-- <img src="../statics/images/fogg-86.png" width="500px" alt=""> -->
{% endblock %}
